div {
    background-color: black;
    width: 35%;
    margin: auto;
    min-height: 100%;
    min-width: 1000px;
}

hr {
    border-color: #972f1f;
    border-height: 2px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

p {
    margin-right: 5;
    margin-left: 5;
}

body {
    background-color: #116897;
    color: #972f1f;
    padding: 5px 0;
}

h3 {
    margin-left: 5px
}

strong {
    margin-left: 5px
}