div {
    background-color: black;
    height: 100%
    width: 40px
}

hr {
    border-color: black;
    border-height: 2px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
